/*Slide Show*/
.slide {
    overflow: hidden;
}

.body__home-slider > div {
    position: relative;
}

.body__home-slider > div:hover .react-slideshow-container .nav:last-of-type,
.body__home-slider > div:hover .react-slideshow-container .nav:first-of-type {
    display: block;
}

.react-slideshow-container {
    position: relative;
}

.images-wrap {
    display: flex;
}

.react-slideshow-container .nav:first-of-type {
    left: 0;
    bottom: 37%;
    display: none;
    fill: #fff;
    background: rgba(153, 153, 153, 0.2);
}

.react-slideshow-container .nav:last-of-type > svg,
.react-slideshow-container .nav:first-of-type > svg {
    height: 100%;
}

.react-slideshow-container .default-nav {
    height: 58px;
    background: rgba(255, 255, 255, 0.4);
    width: 30px;
    border: none;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-slideshow-container .nav {
    z-index: 10;
    position: absolute;
    cursor: pointer;
}

.react-slideshow-container .nav:last-of-type {
    right: 0;
    top: 37%;
    display: none;
    fill: #fff;
    background: rgba(153, 153, 153, 0.2);
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 40%;
}

.indicators > li {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    margin: 0;
}

button.each-slideshow-indicator {
    padding: 6px;
    border-radius: 50%;
    border: 1px solid #999;
    background: rgba(255, 255, 255, 0.4);
}

.each-slideshow-indicator.active {
    color: #fff;
    background: var(--fift-color);
}

/*  */
.main-home {
    background: #F5F5F5;
}

.body__home-top {
    padding-top: 30px;
    padding-bottom: 20px;
    background: var(--white-color);
}

.body__home-top-right-img {
    display: flex;
}

.body__home-top-right-img.margin-bottom {
    margin-bottom: 3px;
}

.body__home-container {
    padding-top: 20px;
}

.body__home-container-category {
    background: var(--white-color);
    padding-bottom: 6px;
}

.body__home-container-title {
    padding: 20px;
    font-size: 2rem;
    font-weight: 100;
    color: #888;
    text-transform: uppercase;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}

.body__home-container-nav {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 10px;
}
.body__home-container-nav-items {
    padding: 14px 4px;
    border: 1px solid rgba(153, 153, 153, 0.4);
    margin-bottom: 4px;
    border-radius: 24px;
    cursor: pointer;
    color: #777;
}

.body__home-container-nav-items:hover {
    color: var(--second-color);
    border: 1px solid var(--second-color);
}

.body__home-container-products {
    margin-top: 50px;
}

.body__home-container-products-title {
    padding: 30px;
    font-size: 1.6rem;
    text-transform: uppercase;
    background: var(--white-color);
    margin-bottom: 24px;
    border-bottom: 4px solid var(--fift-color);
}

.body__home-container-products-title > h2 {
    font-weight: 100;
    text-align: center;
    color: #888;
}